@font-face{
    font-family: OpenSansLight;
    src: url(../fonts/OpenSans-Light.ttf);
}

@font-face{
    font-family: OpenSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: OpenSansSemibold;
    src: url(../fonts/OpenSans-Semibold.ttf);
}

@font-face{
    font-family: OpenSansBold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

@font-face{
    font-family: RobotoCondensed-Bold;
    src: url(../fonts/RobotoCondensed-Bold.ttf);
}

@font-face{
    font-family: RobotoCondensed-Light;
    src: url(../fonts/RobotoCondensed-Light.ttf);
}


@font-face{
    font-family: Montserrat-Regular;
    src: url(../fonts/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Montserrat-Light;
    src: url(../fonts/Montserrat-Light.ttf);
}

@font-face{
    font-family: Montserrat-Medium;
    src: url(../fonts/Montserrat-Medium_0.ttf);
}

@font-face{
    font-family: Montserrat-Bold;
    src: url(../fonts/Montserrat-Bold.ttf);
}




body {
    font-family: Montserrat-Regular;
}

.block-div {
    margin-top: 60px;
    margin-bottom: 60px;
}

.block-div-bg {
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position: bottom;
    height: auto;
}


.h3_title {
    color: #38404B;
    font-family: Montserrat-Bold;
    font-size: 22pt;
    text-transform: uppercase;
}


.service-heading {
    color: #191919;
    font-size: 18pt;
    font-family: Montserrat-Regular;
    margin-bottom: 10px;
}

.registration {
    height: 150px;
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
}

.header {
    color: white;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-position: bottom;
    height: auto;
}

.header .navbar-nav>li>a {
    font-family: Montserrat-Medium;
    color: white;
    font-size: 16px;
    border-radius: 10px;
    padding-left: 8px;
    padding-right: 8px;
}

.header .navbar {
    margin-bottom: 0px;
    padding-top: 4px;
    padding-bottom: 10px;
    width: 100%;
    border-bottom: 1px;
    background-color: transparent;
    min-width: 300px;
    border: none;
}

.header .navbar-default .navbar-nav>.open>a,
.header .navbar-default .navbar-nav>.open>a:focus,
.header .navbar-default .navbar-nav>.open>a:hover {
    color: #ccc;
    background-color: transparent;
}

.header .nav>li>a:focus,
.header .nav>li>a:hover {
    color: #eee;
    background-color: transparent;
    text-decoration: none;
}


.tel {
    text-decoration: none;
    font-size: 10pt;
    margin-bottom: 0;
    font-family: Montserrat-Regular;
}

.tel:hover,
.tel:focus{
    color: white !important;
}

.header .navbar-nav>li {
    margin-right: 20px;
    float: none;
    display: inline-block;
}

.header .navbar-nav {
   margin-top: 12px;
}

.header .navbar-toggle {
    background-color: transparent !important;
    margin-top: 20px;
    border: 1px solid #fff;
}

.header .navbar-toggle .icon-bar {
    background-color: white;
}

.header .navbar-brand {
    margin-left: 0 !important;
    margin-top: 12px;
    margin-bottom: 10px;
    margin-right: 20px;
    padding-left: 0;
}

.header .navbar-brand:hover {
    color: #0081ff;
}

.header .hero {
    text-align: center;
    margin-top: 20px;
}

.header .hero h1 {
    font-family: Montserrat-Regular;
    color: white;
    font-size: 40px;
    margin-bottom: 20px;
}

.header .hero p {
    font-family: Montserrat-Light;
    color: white;
    font-size: 16px;
    margin: 0 auto 30px;
    font-weight: normal;
    line-height: 20pt;
    opacity: 0.7;
}

.header col-md-offset-3 .form-inline {
    font-size: 22pt;
    font-family: OpenSansRegular;
    background-color: transparent;
}

.header .form-group { 
    background-color: transparent;
}

.section {
    font-family: Montserrat-Light;
}


.line_br {
    width: 50px;
    margin-bottom: 40px;
}

.customform {
    background: white;
    border-radius: 22px;
    border: 0;
    height: 44px;
    margin: 0 100px;
    position: relative;
    margin-bottom: 10px;
    -webkit-appearance: none;
}

.form-control {
    box-shadow: none;
    border-radius: 4px;
}


.text-left {
    margin-top: 20px;
    margin-bottom: 40px;
}



.customfield {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    border: none;
    height: 45px;
    background-color: white;
}


.form-control:focus,
.form-control:active {
    border: 1px solid #242930 !important;
    -webkit-appearance: none;
}


input::-webkit-input-placeholder {
    color: #6A809B !important;
}

input:-moz-placeholder { /* Firefox 18- */
    color: #6A809B !important;
}

input::-moz-placeholder {  /* Firefox 19+ */
    color: #6A809B !important;
}

input:-ms-input-placeholder {
    color: #6A809B !important;
}

.custombuttom {
    color: white;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 45px;
    background-color: #38404B;
}

.custombuttom:hover {
    color: white;
    background-color: #242930;
}



input:focus, textarea:focus, select:focus {
    background-color: white;
    outline: none;
    border-color: #eee !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none;
    text-shadow: none;
    outline-color: transparent;
    outline-style: none;
}


input[type="text"]:focus { outline: none; }
textarea[type="text"]:focus { outline: none; }

.btn-success {
    background-color: black;
    border-radius: 15px; 
    border: 1px solid black;
    height: 35px;
}



.buttom {
    font-family: Montserrat-Medium;
    font-size: 10pt;
    background: none;
    height: 44px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 22px;
    width: 55%;
    right: 0;
    text-align: center;
    padding: 11px 15px;
    text-align: center;
}



.buttom:hover {
    color: #38404B;
    background: white;
    border: 2px solid white;
}


.buttom:checked,
.buttom:active,
.buttom:after {
    color: #38404B;
    background-color: white;
    border: 1px solid white;
}


.btn-default:active:hover,
.btn-default:active:focus {
    color: #38404B;
    background: white;
    border: 1px solid white;
}


.option {
    color: green !important;
}


.customlist {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #343046;
    list-style-type: none;
    font-size: 16pt;
    font-family: Montserrat-Regular;
}


.subtext {
    color: #242424;
    font-size: 12pt;
    font-family: Montserrat-Regular;
}


.footer {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #b9b7c2;
    font-size: 10pt;
    font-family: OpenSansLight;
} 

.img_advantages {
    width: 45%;
    margin-top: 1px;
}



.img_discounts {
    width: 100%;
    margin-top: 6px;
}

.img_links {
    width: 100%;
    margin-top: 6px;
}


.mobile {
    display: none
}


.modalbuttom {
    font-family: OpenSansBold;
    background: #38404B;
    height: 46px;
    color: white;
    border: 1px solid #38404B;
    border-radius: 24px;
    width: 100%;
    margin-top: 5px;
    margin-right: 5px;
}

.modalbuttom:hover {
    color: white;
    background: #242930;
    border: 1px solid #242930;
}

.form-popup {
    padding-top: 10px;
    padding-bottom: 6px;
    font-family: OpenSansRegular;
    font-size: 12pt;
    color: #757575;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: #eee;
    border-bottom-width: 1px;
    box-shadow: none;
}

.form-popup:checked,
.form-popup:enabled,
.form-popup:active,
.form-popup:after {
}

.iphone {
    max-width: 80%;
    margin-bottom: 0;
    padding-bottom: 0;
    height: auto;
    border: none;
    vertical-align: middle;
}

.useful_links {
    text-decoration: underline;
    color: #242424;
}

.useful_links:hover {
    text-decoration: none;
    color: #242424;
}



@media screen and (max-width: 992px) {

    .iphone {
        max-width: 50%;
        margin-bottom: 0;
        padding-bottom: 0;
        height: auto;
        border: none;
        vertical-align: middle;
    }


    .img_links {
        width: 100%;
        margin-top: 6px;
    }

    .img_advantages {
        height: 70%;
    }


    .buttom_pdf {
    width: 40%;
}

.buttom_pdf2 {
    width: 40%;
}
    
    .mobile {
        display: block;
    }
    
    .desktop {
        display: none;
    }
    
    .customlist {
        font-size: 14pt;
    }
    
    .subtext {
        font-size: 12pt;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a{
        color: #fff;
        font-size: 16px;
    }

    .header .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
        color: #ccc;
    }

    .header .navbar-collapse {
        margin-left: 20px;
        border-top: none;
        box-shadow: none;
    }

    .header .hero{
        margin-top: 10px;
        margin-bottom: 40px;
    }

    .header .hero h1{
        font-size: 32px;
    }
}


@media screen and (max-width: 768px) {

    .text-left {
        margin-bottom: 70px;
    }

    .iphone {
        display: none;
    }

    .block-div-sale {
        padding-right: 15px;
        padding-left: 15px
    }

    .block-div {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .form_field {
        padding-left: 0;
        padding-right: 0;
    }

    .buttom {
        width: 100%;
    }



    .iphone {
        max-width: 60%;

    }

    .articles {
        text-align: center;
    }

    .img_discounts {
        width: 60%;
        margin-top: 6px;

    }


    .buttom_pdf {
    width: 100%;
    margin-left: 0;
}

.buttom_pdf2 {
    width: 100%;
    margin-left: 0;
}
    
    
    
    .mobile {
        display: block;
    }
    
    .customform {
        margin: 0 20px;
        margin-bottom: 10px;
    }
.header {

}
     
    .desktop {
        display: none;
        
    }

}

